.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7B8FA1;
    color: #f0f0f0;
    font-family: "times new roman";
    word-spacing: 10px;
  }
  
  .about h2 {
    font-family: "times new roman";
    font-size: 60px;
    text-decoration: underline;
    color: #FAD6A5;
    height: 50px;
  }
  h2 {
    font-family: "times new roman";
    font-size: 30px;
    text-decoration: underline;
    color: #00337C;
    height: 50px;
  }
  .about .prompt {
    width: 40%;
    font-size: 30px;
    color: #FAD6A5;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: #FAD6A5;
  }
  
  .skills {
    font-family: "times new roman";
    background-color: #FAD6A5;
    color: #00337C;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    word-spacing: 10px;
  }
  
  .skills h1 {
    color: #00337C;
    text-decoration: underline;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
    
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
      text-decoration: underline;
    }
  }